* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(assets/background.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.feedback {
	height: 100vh;
	width: 100vw;
	background: rgba(29, 80, 138, 0.4);
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 30px;
	width: 920px;
	height: 820px;
	background-color: white;
	position: relative;
	box-shadow: 0px 0px 20px rgb(104, 104, 104);
}

.feedback__top {

}

.feedback__nav {

}

.nav__list {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.nav__item {

}

.nav__item+.nav__item {
	margin-left: 20px;
}

.nav__link {
	font-size: 12px;
	font-weight: 400;
	color: #b8b9b9;
	text-decoration: none;
}

.nav__link:hover {
	color: #0e1010;
}

.feedback__title {
	font-size: 38px;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #0e1010;
	position: relative;
}

.feedback__title::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url(assets/line.png);
	height: 10px;
	width: 63px;
	background-size: contain;
	background-repeat: no-repeat;
  top: -35px;
  left: 154px;
}

.feedback__title::after {
	content: "";
	display: block;
	position: absolute;	
	background-image: url(assets/line.png);
	height: 10px;
	width: 63px;
	background-size: contain;
	background-repeat: no-repeat;
  top: 70px;
  left: 154px;
}

.feedback__main {
	height: 430px;
	width: 100%;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background-color: #f8f8f8;
	box-shadow: 0px 0px 0px rgb(4, 18, 145);
}

.feedback__form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.form__input {
	width: 500px;
	height: 40px;
	border: 2px solid #efefef;

}

::-webkit-input-placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #bdbdbd;
	padding-left: 30px;

}


.input:focus {
	border: 2px solid #b3cbda;
	outline: none;
	background-color: #d3e6f4;
	box-shadow: 0px 0px 8px rgb(4, 18, 145);
}

.input:focus::-webkit-input-placeholder {
	color: black;
}

.form__input--big {
	height: 147px;
	width: 500px;
	border: 2px solid #efefef;
}

.feedback__btn {
	height: 65px;
	width: 210px;
	background-color: #16ba98;
	border: none;
	color: white;
	cursor: pointer;
	position: absolute;
  left: 356px;
  bottom: -230px;
}

.feedback__bottom {
	display: flex;
}

.feedback__bottom-inner {

}

.form__input--small {
	width: 320px;
	height: 40px;
	border: 2px solid #b3cbda;
}

.form__prompt {
	color: #cddbe5;
	font-size: 12px;
	letter-spacing: 0.04em;
	font-weight: 400;
}

.feedback__captcha {

}

.captcha__img {

}

.close__btn {
	height: 35px;
	width: 35px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #e10101;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	top: -17px;
}

.close__span {

}

.close__span:before, .close__span:after {
	position: absolute;
	left: 17px;
	content: "";
	height: 20px;
	width: 2px;
	background-color: rgb(255, 255, 255);
	top: 8px;
}

.close__span:before {
	transform: rotate(45deg);
}
	
.close__span:after {
	transform: rotate(-45deg);
}